.navbar-center {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #ffffffa4;
    border-radius: 15px;
    max-width: 100%;
    align-items: center;
    text-align: center;
    
}

.navBar {
    font-size: xx-large;
}

.navbar-brand {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

@media (min-width: 992px) { /* Adjusting this for larger screens */
    .navbar-collapse {
        justify-content: center;
    }
}

.homeContainer{
    background: #ffffffa4;
    border-radius: 15px;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
    margin-top: 5%;
}

.footerContainer{
    background-color: rgb(43, 43, 43);
}
